@use '../abstracts/' as *;
@use '../vendors/include-media' as *;

.movies__section {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #192437 25.86%,
    #04050b 86.24%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  min-height: 100vh;
}

.movies__wrapper {
  width: 90%;
  margin: 0 auto;
}
