@use '../abstracts/' as *;
@use '../vendors/include-media' as *;

.login {
  position: relative;
  height: 100vh;
  top: 10rem;

  @include media('<=sm') {
    top: 4rem;
  }
  &__wrapper {
    width: 100%;
    padding: 10rem 0;

    @include media('<=lg') {
      padding: 0;
    }
  }
}
