@use '../abstracts' as *;
@use '../vendors/include-media' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px // 10/16 = 62.5

  @include media('<=xl') {
    font-size: 75%;
  }
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  color: $color-mercury;
  background-color: #080808;
}

a:link,
a:visited {
  // color: blueviolet;
  @include transition15;
}

a:hover,
a:active {
  color: $color-manatee-gray;
}

::selection {
  background-color: $color-dove-gray;
  color: $color-dark-shark;
}

.back-section {
  position: relative;
  top: 10rem;

  @include media('<=sm') {
    top: 6rem;
  }
}

.scroll-box {
  overflow: scroll;
  // border: 5px solid black;
  height: 100rem;
  border-radius: 10px;
}
