.mt-s {
  margin-top: 2rem;
}
.mt-m {
  margin-top: 3rem;
}
.mt-l {
  margin-top: 4rem;
}
.mt-xl {
  margin-top: 6rem;
}

.mb-s {
  margin-bottom: 2rem;
}
.mb-m {
  margin-bottom: 3rem;
}
.mb-l {
  margin-bottom: 4rem;
}
.mb-xl {
  margin-bottom: 6rem;
}

.txt-c {
  text-align: center;
}
.el-c {
  margin: 0 auto;
}
