@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.footer {
  position: relative;
  bottom: 0;
  height: 20rem;
  width: 100vw;
  text-align: center;
  // background: linear-gradient(0deg, #080808 64.18%, rgba(8, 8, 8, 0) 140.3%);

  & #logo__footer {
    cursor: pointer;
    opacity: 0.5;
    height: 100%;
    width: 100%;

    &:hover {
      fill: $color-manatee-gray;
    }
  }
}
