@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.nav {
  display: flex;
  justify-content: center;
  position: relative;

  &__elements {
    padding: 2rem 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    pointer-events: fill;

    &__logo {
      cursor: pointer;
      animation: fade $timing $bezier both;
      animation-delay: calc(2 * $timing);

      #logo {
        &:hover {
          fill: $color-sorrell-brown;
        }
      }
    }

    &__links {
      display: flex;

      .nav__links__item {
        margin-right: 10px;
        font-size: 1.5rem;
        font-family: $font-opensans-regular;
        color: $color-mercury;
        cursor: pointer;
        animation: fade $timing $bezier both;

        &:hover {
          color: $color-sorrell-brown;
        }

        &:first-child {
          animation-delay: calc(3 * $timing);
        }

        &:last-child {
          animation-delay: calc(4 * $timing);
          margin-right: 0;
        }
      }
    }
  }
}
