@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.nav {
  display: flex;
  justify-content: center;
  position: inherit;

  &__elements {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    pointer-events: fill;

    &__logo {
      cursor: pointer;
      animation: fade $timing $bezier both;
      animation-delay: calc(2 * $timing);

      #logo {
        padding: 1rem 0;
        transition: 0.5s;

        &:hover {
          fill: $color-manatee-gray;
        }
      }
    }

    &__links {
      display: flex;
      top: 0;
      transition: 0.5s;

      @include media('<=sm') {
        @include centerElement;
        top: 12rem;
        width: 90vw;
        padding: 4rem 0;
        border-radius: 5px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          0.11deg,
          rgba(8, 8, 8, 0.677895) -36.83%,
          #080808 34.37%,
          #080808 75.18%,
          rgba(8, 8, 8, 0.49) 147.28%
        );
        translate: 0 -300px;

        &.change {
          translate: 0;
        }
      }

      .nav__links__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 1px solid $color-mercury;
        border-radius: 50px;
        padding: 0.6rem 2rem;
        transition: 0.25s;

        &:hover {
          transform: translateY(-3px);
          background-color: black;
          color: $color-manatee-gray;
          border: 1px solid $color-manatee-gray;
        }

        &:active {
          border: 1px solid $color-dove-gray;
          color: $color-dove-gray;
        }

        & svg {
          margin-right: 3px;
          width: 1.2em;
          height: 1.2em;
        }

        @include media('<=sm') {
          text-align: center;
          // margin: 0 0 10px 0;
          font-size: $paragraph-l;
          width: fit-content;
        }

        color: $color-mercury;
        cursor: pointer;
        animation: fade $timing $bezier both;

        &:first-child {
          animation-delay: calc(3 * $timing);
        }

        &:last-child {
          animation-delay: calc(4 * $timing);
          margin-right: 0;
        }
      }
    }

    &__box {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      z-index: 1;
      display: none;
      animation: fade $timing $bezier both;
      animation-delay: calc(3 * $timing);

      @include media('<=sm') {
        display: inline-block;
      }

      &.change {
        z-index: 2;
        border-radius: 100%;
        transition: 0.5s;
      }

      &-btn {
        border: none;
        border-radius: 0;
        position: relative;
        top: 1rem;
        background-color: #fff;
        height: 0.2rem;
        width: 2rem;
        @include centerElement;

        &::before,
        &::after {
          background-color: #fff;
          height: 0.2rem;
          width: 2rem;
          content: '';
          position: absolute;
          display: block;
          transition: all 0.2s;
        }

        &::before {
          transform: translateY(-0.8rem);
        }

        &::after {
          transform: translateY(0.8rem);
        }

        &.change {
          z-index: 3;
          background-color: transparent;
          &::before {
            top: 0;
            transform: rotate(135deg);
          }

          &::after {
            top: 0;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
}
