$color-white: #fff;
$color-black: #000;

$color-dark-shark: #1f1f20;
$color-mine-shaft: #2a2a2a;
$color-dove-gray: #646464;
$color-manatee-gray: #8f8f90;
$color-french-gray: #c7c7c8;
$color-mercury: #e3e3e3;

$color-black-currant: #04050b;
$color-tangaroa: #192437;
$color-cello: #374d59;
$color-cello-light: #3a5a6d;
$color-horizon: #638392;
$color-zambezi: #625250;
$color-sorrell-brown: #9f7a67;

$font-opensans-light: 'open_sanslight';
$font-opensans-regular: 'open_sansregular';
$font-opensans-bold: 'open_sansbold';
$font-lato-black-italic: 'latoblack_italic';

$font-meshed-display-black: 'meshed_display_black';
$font-rockstar-bold: 'rockstar_extrabold';

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

$heading-1: 3.2rem;
$heading-2: 3rem;
$heading-3: 2.4rem;
$heading-4: 2rem;
$paragraph-l: 2rem;
$paragraph-m: 1.8rem;
$paragraph-s: 1.6rem;
$paragraph-xs: 1.4rem;

$grid-columns: 12;
$gap: 1.5rem;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$timing: 0.25s;
$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

$z-indexes: (
  'navigation',
  'content',
  'noscript',
  'preloader',
  'cursor',
  'navigation',
  'content',
  'cases',
  'canvas'
);

$breakpoints: (
  'xs': 0,
  'sm': 36em,
  'md': 48em,
  'lg': 62em,
  'xl': 75em,
  'xxl': 87.5em,
) !default;

$head-height: 70vh;
