@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.banner__section {
  position: relative;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $head-height;

  @include media('<=lg') {
    height: 60vh;
  }

  @include media('<=sm') {
    height: 50vh;
  }

  &__info {
    position: absolute;
    top: 20%;
    left: 10%;
    width: fit-content;
    max-width: 54%;
    max-height: 60vh;
    z-index: 1;
    border-radius: 16px;
    // backdrop-filter: blur(17px);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // background-image: linear-gradient(
    //   90deg,
    //   #192437 52%,
    //   rgba(99, 131, 146, 0) 100%
    // );
    word-wrap: break-word;
    white-space: pre-wrap;
    // overflow: hidden;
    text-overflow: ellipsis;
    animation: fadeInLeft 1s;
    @include transition15;

    @include media('<=lg') {
      // top: 24%;
      max-width: 50%;
    }

    @include media('<=md') {
      max-width: 90%;
      width: 90%;
      height: fit-content;
      max-height: 50vh;
      opacity: 0.8;
      animation: none;
    }

    @include media('<=sm') {
      left: 5%;
      top: 40%;
      width: 90%;
      margin: 0 auto;
    }

    & .info__title {
      cursor: pointer;
      font-family: $font-lato-black-italic;
      // font-family: $font-meshed-display-black;
      line-height: 1em;
      height: fit-content;
      overflow: hidden;
      text-transform: uppercase;
      font-kerning: none;
      transform: translateX(0);
      @include transition15;

      & h1 {
        font-size: $heading-2;

        @include media('<=md') {
          line-height: normal;
          max-height: none;
        }

        @include media('<=sm') {
          font-size: 1.8rem;
        }
      }

      &:hover {
        color: $color-sorrell-brown;
        transform: translateX(2px);
      }

      @include media('<=xl') {
        font-size: 3.2rem;
      }

      @include media('<=lg') {
        // font-size: 3rem;
      }

      &__year {
        font-family: $font-opensans-bold;
        font-weight: $font-bold;
      }
    }

    & .info__date {
      width: fit-content;
      padding: 5px;

      & h4 {
        font-family: $font-opensans-regular;
      }

      @include media('<=md') {
      }
    }

    & .info__overview {
      & p {
        font-size: $paragraph-s;
      }
      @include media('<=lg') {
        display: none;
      }
    }

    & .info__vote {
    }
  }

  &__cover {
    position: absolute;
    right: 15%;
    top: 18%;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    animation: backInDown 2s $ease-out-expo;
    @include transition15;

    &:hover {
      scale: 1.1;
    }

    &:hover ~ .banner__section__image img {
      filter: blur(8px);
    }

    @include media('>=xxl') {
      &:hover {
        rotate: 15deg;
        scale: 1.2;
      }

      &:hover ~ .banner__section__image img {
        filter: blur(8px);
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0,
            rgb(0, 0, 0, 1) 80%
          ),
          radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5) 100%);
      }
    }

    @include media('<=lg') {
      // top: 25%;
      &:hover {
        scale: 1.03;
      }
    }

    @include media('<=md') {
      visibility: hidden;
    }

    & img {
      width: 24rem;
      height: 100%;
      object-fit: cover;
      @include transition15;

      @include media('<xl') {
        width: 16rem;
      }
    }
  }

  &__image {
    position: relative;
    height: $head-height;
    width: 100vw;

    @include media('<=lg') {
      height: 60vh;
    }

    @include media('<=sm') {
      height: 50vh;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0,
          rgb(0, 0, 0, 1) 80%
        ),
        radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5) 100%);
      // radial-gradient(ellipse at bottom, transparent, rgb(0, 0, 0));
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 96%;
      object-position: left top;
      // opacity: 0.4;
      // filter: blur(5px);
      overflow: hidden;
      @include transition15;

      @include media('<=xxl') {
        object-position: center top;
      }
      @include media('<=md') {
        opacity: 1;
      }
    }
  }
}

// .slick-slide {
//   height: 59vh;
// }
