.btn {
  &__trailer {
    display: inline-flex;

    border: 1px solid white;
    padding: 1rem 4rem;
    border-radius: 50px;
    transition: 0.2s;

    & img {
      margin: 2px 6px 0 0;
    }

    &:hover {
      // padding: 1rem 4.4rem;
      transform: translateY(-5px);
    }

    &:active {
      border: 1px solid grey;
      color: grey;
    }
  }
}
