@use '../abstracts/variables' as *;

.btn {
  background-color: black;
  border: 1px solid $color-mercury;
  border-radius: 50px;
  padding: 1rem 2.5rem;
  transition: 0.25s;
  margin: 1rem 0;

  &:hover {
    transform: translateY(-3px);
    background-color: $color-dark-shark;
  }

  &:active {
    border: 1px solid $color-dove-gray;
    color: $color-dove-gray;
  }

  &__back {
    border-radius: 50%;
    border: 1px solid white;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0;
  }

  &__trailer {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin-right: 3px;
      width: 1.2em;
      height: 1.2em;
    }
  }
}
