@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.movie {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  animation: fade $timing $bezier both;

  &__image {
    height: 100%;

    & img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transform: scale(1);
      @include transition15;

      &:hover {
        transform: scale(1.05);
        border-radius: 10px;

        @include media('<=md') {
          transform: none;
        }
      }
    }
  }

  &__overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0.9;
    h4 {
      text-transform: uppercase;
      font-size: $paragraph-xl;
      transform: translateY(0);
      transition: 0.2s;

      &:hover {
        transform: translateY(-1px);
      }
    }

    background: linear-gradient(0deg, #080808 64.18%, rgba(8, 8, 8, 0) 140.3%);
    transform: translateY(100%);
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    &__vote {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      padding: 16px;

      h4 {
        font-size: $paragraph-l;
      }

      &--good {
        border: 2px solid #38ba2d;
      }

      &--medium {
        border: 2px solid #e2a300;
      }

      &--bad {
        border: 2px solid #bc0909;
      }

      &--nr {
        border: 2px solid $color-mercury;
        color: $color-mercury;
      }
    }

    &__date {
      h4 {
        font-size: $paragraph-l;
      }
    }

    &__genres {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__genre {
        list-style: none;
        margin-right: 10px;
      }
    }

    &__like,
    &__dislike {
      width: fit-content;
      cursor: pointer;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
        // svg {
        //   fill: red;
        // }
      }
    }
  }

  &:hover &__overview {
    transform: translateY(0);
  }

  @include media('<=md') {
    &__overview {
      transform: translateY(0);
      visibility: hidden;
    }
  }
}
