@use '../abstracts' as *;
@use '../vendors/include-media' as *;

.search {
  &__movie {
    padding: 0.8em;
    color: $color-mercury;
    background: none;
    border: 2px solid $color-cello-light;
    border-radius: 26px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &__label {
    margin-right: 10px;
  }
}
